.logo {
text-align: center;
}

.dark{
  padding-left: 3px;
}
.cards {
  list-style: none;

}

.card {
  margin: 1rem;
}

.drinks-img {
  width: 100%;

}
.drinkImage {
  width: 40px;
}

@media (min-width: 768px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    width: calc(33% - 2rem);
  }
}

@media (min-width: 1024px) {
  .card {
    width: calc(25% - 2rem);
  }
}

@media (min-width: 1200px) {
  .card {
    width: calc(20% - 2rem);
  }
}
.new-drinks-form {
  padding: 13%;
  margin: 1%;
  text-shadow: 5px 5px 10px rgba(16, 180, 245, 0.4);
  color: #0DCAF0;
  text-align: center;
  background-color: #212529;


}
.new-drinks-form form {
  justify-content: center;
}
.new-drinks-form input {
  margin-right: 2rem;
  border: 1px solid rgba(126, 115, 115, 0.4);
border-radius: 5px;

}
.imageInput{
 width: 50%;
}
.new-drinks-form button {
  width: 150px;
  margin: 15px;
  position: relative;
  bottom: 20px ;
}
.app{
  background-color: #212529;
}
.drink-name {
  text-align: center;
  text-shadow: 5px 5px 10px rgba(16, 180, 245, 0.4);
  color: #0DCAF0;

}
.Ing {

  border: 1px solid rgba(126, 115, 115, 0.4);
  border-radius: 5px;
  margin-top: 20px;
  width: 20%;

}
.inst {

  border: 1px solid rgba(126, 115, 115, 0.4);
  border-radius: 5px;
  margin-top: 20px;
  width: 50%;

}


.favorite-text {
  font-size: 20px;
  font-weight: bold;
text-align: bottom;
}